/* 
MAD9013 Assignment 1
Author: Jasper Jiaqian Sun
Date Created: Sept 28, 2021 / Last modified: Oct 26, 2021 
*/

/* webpage font type */
html {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  scroll-behavior: smooth;
}

/* webpage container */
article {
  margin: 0 auto;
  max-width: 50rem;
  padding-top: 4rem;
  padding-bottom: 25rem;
}

/* heading text serif */
.font-serif {
  font-family: serif;
}

/* header texts */
header p {
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
}

/* lake image */
.lake-lookout img {
  width: 100%;
}

/* image reference link */
.lake-lookout {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2.5rem;
}

/* figure caption style */
figcaption {
  text-align: center;
  padding-top: 1rem;
}

/* title underline */
.underline {
  border-bottom: 2px solid #ddd;
  margin-bottom: 0.5rem;
}

/* article main title */
.park-title {
  font-size: 2.5rem;
  font-weight: normal;
}

/* article sub-titles */
.river-title,
.ref-title {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

/* first paragraph texts */
.first-paragraph {
  font-weight: 400;
  font-size: 1.5rem;
}
/* link number smaller  */
.small-link {
  font-size: 1rem;
}

/* line height - both paragraph */
.line-height {
  line-height: 1.5;
}

/* second paragraph texts */
.second-paragraph {
  font-weight: 400;
  font-size: 1.28rem;
  padding-bottom: 1.5rem;
}

/* rivers list */
.river-list p,
ol {
  font-size: 1.1rem;
  font-weight: 00;
  text-align: left;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

/* rivers list */
.river-list ol {
  padding-left: 0.5rem;
  list-style-type: disc;
}

/* whiteSpace */
.reference {
  padding-top: 1.5rem;
}

/* italic - reference links */
.italic {
  font-style: italic;
}

/* no italic text */
.not-italic {
  font-style: normal;
}

/* bold arrows */
.bold-arrow {
  font-weight: bold;
}

/* reference list font size */
.ref-list {
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-left: 2rem;
  position: relative;
  display: block;
}

/* background color - reference (target action) */
li:target {
  background-color: #eaf2fe;
}

/* merge the order number inside the contents */
li {
  list-style-position: inside;
}
